<div class="container mt-5">
    <h2 class="text-success text-center">Edit Movie</h2>
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Título de la película</label>
        <input type="text" id="title" class="form-control" formControlName="title" required>
      </div>
      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea id="synopsis" class="form-control" formControlName="synopsis" required></textarea>
      </div>
      <div class="form-group">
        <label for="year">Año</label>
        <input type="number" id="year" class="form-control" formControlName="year" required>
      </div>
      <div class="form-group">
        <label for="cover">URL de la portada</label>
        <input type="text" id="cover" class="form-control" formControlName="cover" required>
      </div>
      <button type="submit" class="btn btn-success mt-3">Guardar cambios</button>
    </form>
  </div>
  