<div class="container">
  <!-- Header -->
  <div class="header d-flex align-items-center"> 
    <img src="https://cdn-icons-png.flaticon.com/512/3364/3364355.png" alt="imagen"> 
    <h1 class="ml-3">Catálogo de Películas</h1> 
  </div>

  <!-- Body -->
  <div class="body mt-4">
    <p>Bienvenido al catálogo de películas. Aquí encontrarás una amplia selección de películas de todos los géneros y épocas. Explora nuestro catálogo y descubre tus próximas películas favoritas.</p>
    <router-outlet></router-outlet>
    
  </div>

  <!-- Footer -->
  <div class="footer bg-dark text-white text-center py-3 mt-5">
    <p>Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
    <p>Bertha Alicia Ortega Ruiz</p>
    <p>303653994</p>
    <p>bertha.ortega&#64;udgvirtual.udg.com</p>
  </div>
</div>
